<a href="https://colab.research.google.com/github/anandx01/conductor/blob/main/linear_regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [15]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [16]:
dataset=pd.read_csv('/content/drive/MyDrive/DriveLinks (2)/CAR DETAILS FROM CAR DEKHO.csv')

In [20]:
dataset.head()

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner
0,Maruti 800 AC,2007,60000,70000,Petrol,Individual,Manual,First Owner
1,Maruti Wagon R LXI Minor,2007,135000,50000,Petrol,Individual,Manual,First Owner
2,Hyundai Verna 1.6 SX,2012,600000,100000,Diesel,Individual,Manual,First Owner
3,Datsun RediGO T Option,2017,250000,46000,Petrol,Individual,Manual,First Owner
4,Honda Amaze VX i-DTEC,2014,450000,141000,Diesel,Individual,Manual,Second Owner

In [19]:
dataset['year']>2012

0       False
1       False
2       False
3        True
4        True
        ...
4335     True
4336     True
4337    False
4338     True
4339     True
Name: year, Length: 4340, dtype: bool